<div class="offcanvas offcanvas-end" tabindex="-1" id="advancedSearchCanvas" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Advanced Search</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="product-search-tab" data-bs-toggle="tab" data-bs-target="#productSearch" type="button" role="tab" aria-controls="product" aria-selected="true">product</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="branch-search-tab" data-bs-toggle="tab" data-bs-target="#branchSearch" type="button" role="tab" aria-controls="branch" aria-selected="false">branch</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="productSearch" role="tabpanel" aria-labelledby="product-search-tab">
                <div class="card d-flex mb-2 bg-white">
                    <div class="card-body ">
                        <label for="productNameAdvancedSearch" class="form-label">Product Name</label>
                        <input class="form-control" id="productNameAdvancedSearch" type="search" placeholder="Enter product name" aria-label="Search">
                        <label for="priceRangeAdvancedSearch" class="form-label">Maximum Price: <span id="dynamicPrice">100</span></label>
                        <input type="range" min="0" max="10000" step="1" class="form-range" id="priceRangeAdvancedSearch">
                        <select id="categoriesDropDownAdvancedSearch" size="6" class="form-select " aria-label="Default select example">
                            <option selected multiple>Category Select</option>
                        </select>
                        <div class="d-grid mt-2">
                            <button class="flex-fill btn btn-outline-primary" id="searchBtnAdvancedSearch" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="branchSearch" role="tabpanel" aria-labelledby="branch-search-tab">
                <div class="card d-flex mb-2 bg-white">
                    <div class="card-body ">
                        <label for="branchNameAdvancedSearch" class="form-label">Branch Name \ Address</label>
                        <input class="form-control" id="branchNameAdvancedSearch" type="search" placeholder="Enter name or address" aria-label="Search">
                        <div class="d-grid mt-2">
                            <button class="flex-fill btn btn-outline-primary" id="branchBtnAdvancedSearch" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



