@{
    ViewData["Title"] = "DashBoard";
}
<div class="container">
    <div class="d-flex my-4">
        <div class="card mx-2">
            <div class="card-body">
                <h5 class="card-title">Num of products by Category</h5>
            </div>
            <img src="..." class="card-img-bottom" alt="...">
        </div>
        <div class="card mx-2">
            <div class="card-body">
                <h5 class="card-title">Orders by Month</h5>
            </div>
            <img src="..." class="card-img-bottom" alt="...">
        </div>
        <div class="card mx-2">
            <div class="card-body">
                <h5 class="card-title">Orders Shiping</h5>
            </div>
            <img src="..." class="card-img-bottom" alt="...">
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="~/js/dashboard/dashboard.js"></script>

}