@{
    ViewData["Title"] = "Home Page";
}


    <div class="container-fluid" style="background-color: darkred;">
        <div class="d-flex p-3 justify-content-between">
            <div><button class="fw-bold btn btn-lg btn-outline-danger border-white text-white resBtn" style="outline-color:white">WOMEN</button></div>
            <div class="text-white h2 resHeaderMedium">SALE: GET UP TO 70% OFF</div>
            <div><button class="fw-bold btn btn-lg btn-outline-danger border-white text-white resBtn" style="outline-color:white">MEN</button></div>
        </div>
    </div>
</div>

    <div class="container-fluid text-center px-0 image-container" style="max-height: 80%">
        <picture>
            <img class="img-fluid" src="~/assets/homePhoto.jpg" />
        </picture>
        <div class="d-flex flex-column centerd-image-text">
            <p class="h1 display-1 resHeaderLarge fw-bold" id="clothitH1" style="text-shadow: 4px 4px grey">This is CLOTHIT</p>
            <h3 class="h3 h2-md display-4 resHeaderSmall fw-bolder">CLOTHIT DESIGN</h3>
            <div class="d-grid gap-4 d-md-block">
                @*TODO: add link to men and women pages*@
                <button class="fw-bold btn btn-lg bg-white text-black">SHOP MEN</button>
                <button class="fw-bold btn btn-lg bg-white text-black">SHOP WOMEN</button>
            </div>
        </div>
    </div>
</div>
