@model web_development_course.Models.Branch

@{
    ViewData["Title"] = "Create";
    ViewData["isEdit"] = false;
}

<div class="container">
    <partial name="_EditCreateBranchPartial" model="Model" view-data="ViewData" />
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/branch/createBranch.js" type="text/javascript"></script>

}
