.cart-btn {
    width : 95%;
    margin-top: .5rem;
    position:center
}

.summary-num {
    position: inherit;
    right:0%;
}


.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.01);
}

.cartItem{
    margin-bottom:.25rem
}

