.category .item {
  border-radius: 5px;
  /* max-width: 20rem; */
  /* min-width: 15rem; */
  display: inline-block;
  margin: 5px;

  width: 20rem;
  width: 15rem;
}

.category .item img {
  width: 100%;
  height: calc(15rem - 1.5rem);
  object-fit: cover;
}

.category .item .colorContainer .color {
  display: inline-block;
}

.category .item .viewButton {
  width: 100%;
}

.category .item .colorContainer .color .emptyStock {
  font-size: 1.5em;
  position: absolute;
  top: -0.46em;
  left: 0.02em;
}

.editFloatingBtn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 999;
}

.editFloatingBtn .icon {
  width: 3rem;
  line-height: 3rem;
  display: inline-block;
}

.productPage .colorLabel {
  line-height: 1;
}

.productPage .color {
  display: inline-block;
}

.productPage .quantityLabel {
  line-height: 1.8;
}

.productPage .attribute {
  margin-bottom: 0.5rem;
}
