.product-color-red {
  background-color: #dc3545;
}

.product-color-black {
  background-color: black;
}

.product-color-white {
  background-color: white;
}

.text-align-center {
  text-align: center;
}
